.oagsimg{
   width:500px;
   max-width: 98vw;
   position:relative;
   z-index: 1;
   object-fit: contain;
}

.blobContainer{
   position:absolute;
   top:0;
   left:0;
   width: 100vw;
   height: 100vh;
   overflow: hidden;
   z-index: 2;
}

#BackBlobContainer{
   z-index:0;
}